.additions__header {
  font-family: $ff-oswald;
  line-height: 1;
  color: $c-black;
  font-weight: 400;
}

.additions__link {
  background-color: $c-light-green;
  line-height: (20 / 16);
  font-weight: 400;
  color: $c-white;
  text-decoration: none;
}

.additions__item {

  @media  (min-width: $tablet-width)
  {
    display: flex;
    flex-wrap: wrap;
  }
  @media  (min-width: $desktop-width)
  {
    display: flex;
    flex-wrap: nowrap;
  }
}

.additions__button {
  @media  (min-width: $tablet-width)
  {
    width: 100%;
  }
}
