.additions__header {
  margin-top: 24px;
  margin-bottom: 36px;
  font-family: $ff-oswald;
  line-height: 1;
  color: $c-black;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.additions__link {
  font-size: 16px;
  line-height: (20 / 16);
  font-weight: 400;
  color: $c-white;
  text-decoration: none;
}

.additions__item {
  padding-top: 12px;
  padding-bottom: 19px;
}

.additions__item--promo {
  margin-top: 40px;
  margin-bottom: 33px;
  padding-top: 58px;
  padding-bottom: 40px;
  padding-left: 65px;
  padding-right: 65px;
  text-align: center;
  background: url("../../img/catalog/gift-promo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.additions__gift-image {
  text-align: center;
  margin-bottom:47px;
}
