.additions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.additions-list__header {
  @media  (min-width: $tablet-width)
  {
    width: 50%;
  }
}
.additions-list__item {
  @media  (min-width: $tablet-width)
  {
    width: 50%;
  }
}
