.articles {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;


  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 23px;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0;
  }
}


.articles__i {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 21px 33px 20px 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 57px 52px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0fr 0fr 0fr;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.articles__i--pro {
  @media (min-width: $tablet-width) {
    padding: 77px 62px 77px 52px;
  }
}

.articles__header {
  margin: 0;
  margin-top: 10px;
  margin-left: 16px;
  width: max-content;
  font-family: $ff-oswald;
  font-size: 24px;
  color: $c-black;
  font-weight: 400;
  line-height: (37 / 24);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 1;
    height: fit-content;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.articles__header--pro {}


.articles__icon {
  margin-left: 10px;
  width: 20%;

  @media (min-width: $tablet-width) {
    order: 1;
    grid-column: 2;
    grid-row: 1/-1;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    order: inherit;
  }
}

.articles__icon--pro {}

.articles__image {
  @media (min-width: $tablet-width) {
    width: 140px;
    height: 190px;
    margin-left: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.articles__text {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: (18 / 14);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: (24 / 16);
    margin: 0;
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.articles-text--pro {}

.articles__link {
  margin-top: 21px;

  font-family: $ff-oswald;
  font-size: 16px;
  line-height: 1;
  color: $c-black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: (30 / 20);
    margin-top: 51px;
  }
}
