.button {
  padding-top: 11px;
  padding-bottom: 11px;
  display: block;
  background-color: $c-light-green;
  font-family: $ff-oswald;
  font-weight: 400;
  line-height: (20 / 16);
  color: $c-white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
