.cat-owner__text {
  font-weight: 400;
  line-height: (26 / 24);
  color: black;
  font-size: 24px;
}

.cat-owner__label {
  text-transform: uppercase;
  font-size: 16px;
}

.cat-owner__input {
  &::placeholder {
    font-size: 16px;
    font-family: $ff-oswald;
    line-height: (18 / 16);
    color: $c-dark-grey;
    text-transform: uppercase;
  }
}

.cat-owner__comment-text {
  font-size: 24px;
  font-weight: 400;
  line-height: (26 / 24);
  color: black;
}

.cat-owner__textarea {
  &::placeholder {
    font-size: 16px;
    font-family: $ff-oswald;
    line-height: (18 / 16);
    color: $c-dark-grey;
    text-transform: uppercase;
  }
}
