.catalog-more__product-text {
  margin: 0;
  margin-bottom: 8px;
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: (20 / 16);
  text-transform: uppercase;
  color: $c-special-black;
}

.catalog-more__taste-text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: (16 / 12);
  color: $c-dark-grey;
}

.catalog-more__button {
  padding-top: 10px;
  padding-bottom: 11px;
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: (20 / 16);
  color: $c-special-black;
  text-transform: uppercase;
  background-color: $c-basic-grey;
}
