.catalog-more__product-text {
  margin: 0;
  margin-bottom: 8px;
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: (20 / 16);
  text-transform: uppercase;
  color: $c-special-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: (22 / 20);
  }
}

.catalog-more__taste-text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: (16 / 12);
  color: $c-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: (18 / 16);
  }
}

.catalog-more__button {
  padding-top: 10px;
  padding-bottom: 11px;
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: (20 / 16);
  color: $c-special-black;
  text-transform: uppercase;
  background-color: $c-basic-grey;
}
