.example-info__description {
  line-height: (18 / 14);
}

.example-info__promo-text {
<<<<<<< HEAD
  font-size: 24px;
=======
>>>>>>> module3-task1
  font-family: $ff-oswald;
  color: $c-black;
  line-height: 1;
}

.example-info__promo-description {
<<<<<<< HEAD
  font-size: 12px;
=======
>>>>>>> module3-task1
  font-family: $ff-arial;
  color: $c-dark-grey;
  line-height: 1;
}

.example-info__price-text {
  font-family: $ff-oswald;
  color: $c-black;
  line-height: (20 / 14);
  text-align: center;
  text-transform: uppercase;
}
