.example {
  background-color: #eaeaea;
  padding: 27px 20px 0 20px;

  .example__header {
    font-family: $ff-oswald;
    margin: 0;
    color: $c-black;

    line-height: 40/36;
    font-weight: 400;
  }
}

.example-text-block {
  .example-text-block__description {
    color: $special_dark-grey;
    line-height: 18 / 14;
  }
}

.example-text-block__promo-text {
  font-family: $ff-oswald;
  color: $c-black;
  line-height: 24 / 24;
}

.example-text-block__description {
  font-family: $main-font;
  color: $special_dark-grey;
  line-height: 12 / 12;
}

.example-text-block__price-text {
  font-family: $ff-oswald;
  color: $c-black;
  line-height: 20 / 14;
  text-align: center;
  text-transform: uppercase;
}
