.example-slider {
  .example-slider__controls {
    .slider-controls__before-button,
    .slider-controls__after-button {
      color: $slider-control-buton-text-color;
      font-weight: bold;
      line-height: 20/16;
    }
  }
}
