.example-info {
  &__description {
    color: $c-dark-grey;
    line-height: (18 / 14);
  }
}

.example-info__promo-text {
  font-family: $ff-oswald;
  color: $c-black;
  line-height: 1;
}

.example-info__promo-description {
  color: $c-dark-grey;
  font-family: $ff-arial;
  color: $c-dark-grey;
  line-height: 1;
}

.example-info__price-text {
  font-family: $ff-oswald;
  color: $c-black;
  line-height: (20 / 14);
  text-align: center;
  text-transform: uppercase;
}
