.how-it-work {
  line-height: 20/20;
  padding: 0 0 42px 0;

  .how-it-work__header {
    margin: 0;
    margin-bottom: 40px;
    font-family: $ff-oswald;
    color: $c-black;
    line-height: 40/36;

    font-weight: 400;
  }

  .how-it-work__list {
    margin: 0;
    padding: 0;
    padding-right: 24px;
    list-style: none;
  }
}
.work-item {
  margin-bottom: 20px;
  min-height: 60px;

  &:nth-child(1) {
    background-image: url("../img/how-it-work/leaf.svg");
    background-repeat: no-repeat;
  }

  &:nth-child(2) {
    background-image: url("../img/how-it-work/tub.svg");
    background-repeat: no-repeat;
  }

  &:nth-child(3) {
    background-image: url("../img/how-it-work/eat.svg");
    background-repeat: no-repeat;
  }

  &:nth-child(4) {
    background-image: url("../img/how-it-work/alarm.svg");
    background-repeat: no-repeat;
  }

  .work-item__text {
    margin: 0;
    padding-left: 80px;
    color: $special_dark-grey;
    line-height: 18 / 14;
  }
}
