.form {
  .form__header {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    color: $form-header-text-color;
    font-size: 36px;
    line-height: 36px;
  }
  .form__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .about-cat__main {
    color: $about-cat-main-text-color;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .about-cat__needs {
    color: $needs-item-text-color;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .cat_age {
    &:placeholder {
      color: $cat-age-placeholder-text-color;
    }
  }
  .cat-owner {
    color: $cat-owner-field-text-color;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    .cat-owner__text {
      color: $cat-owner-header-text-color;
      font-weight: 400;
      font-size: 24px;
      line-height: 26px;
    }
  }
  .comment {
    .comment__text {
      color: $comment-text-color;
      font-size: 24px;
      line-height: 26px;
    }
    .comment__textarea {
      color: $comment-textarea-color;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
  .addition {
    .addition__text {
      color: $addition-text-color;
      font-size: 24px;
      line-height: 26px;
    }
    .addition__list {
      text-transform: uppercase;
      color: $addition-list-text-color;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
