.main-promo {
  padding: 27px 20px 22px 20px;
  background-color: green;
  background-image: url("../img/main-promo/background-mobile.jpg");
  background-repeat: no-repeat;
}

.main-promo__header {
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 36px;
=======
>>>>>>> module3-task1
=======
  font-size: 36px;
>>>>>>> module2-task2
  font-family: $ff-oswald;
  margin: 0;
  padding-bottom: 27px;
  text-align: center;
  color: $c-white;
  font-weight: 400;
  line-height: 1;
}

.main-promo__text {
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 14px;
=======
>>>>>>> module3-task1
=======
  font-size: 14px;
>>>>>>> module2-task2
  font-family: $ff-oswald;
  margin: 0;
  padding-bottom: 29px;
  text-align: center;
  color: $c-white;
  line-height: 1;
  text-transform: uppercase;
}

.main-promo__promo-link {
  display: block;
  padding: 7px 44px 7px 44px;
  background-color: $c-light-green;
  font-family: $ff-oswald;
  color: $c-white;
  text-decoration: none;
  line-height: (18 / 14);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
