.map-contacts__welcome-text {
  font-family: $ff-oswald;
  font-size: 16px;
  color: $c-special-black;
  line-height: (18 / 16);
  text-transform: uppercase;
}

.map-contacts__address {
  line-height: (20 / 14);
}

