.map__contacts {
  .contacts__welcome-text {
    font-family: $ff-oswald;
    line-height: (18 / 16);
    text-transform: uppercase;
  }

  .contacts__address {
    color: $c-dark-grey;
    line-height: (20 / 14);
  }
}
