.map {
  .map__contacts {
    .contacts__welcome-text {
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .contacts__address {
      font-family: $contacts-address-font;
      color: $contacts-address-color;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
