.page-header {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    align-items: center;

  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.page-header__logo {
  width: 93%;

  @media (min-width: $desktop-width) {
    width: 20%;
  }
}

.page-header__logo-block {
  display: flex;
  width: 100%;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    margin-top: 6px;
    width: min-content;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    margin: 0;
  }
}
