.page-header {
  display: flex;
  flex-wrap: wrap;
}

.page-header__logo-block
{
  width: 100%;
  margin-left: 20px;

  @media (min-width: $tablet-width)

  {
    width: min-content;
    margin-left: 30px;
  }
  @media (min-width: $desktop-width)
  {
    margin-right: 350px;
    margin-left: 110px;
  }
}
