.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
}

.page-footer__social-block {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
}
