.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-left: 13px;
    padding-top: 31px;
  }
  @media (min-width: $desktop-width) {
    width: 1440px;
    background: linear-gradient(90deg, $c-white 50%, $c-light-green 50%);
  }

}

.page-header__logo {
  width: 85%;
  @media (min-width: $desktop-width) {
    width: 20%;
  }
}
.page-header__logo-block {
  display: flex;
  width: 100%;
  margin-top: 11px;
  padding-left: 20px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: min-content;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 30px;
    margin-left: 110px;
  }
}
