.page {
  font-family: $ff-arial;
}

.page__header {
  margin: 0 auto;
}

.page__body {
  font-family: $ff-arial;
  margin: 0 auto;
  font-weight: 400;
  line-height: (20 / 20);
  color: $c-black;
}

.page__footer {
  padding-top: 40px;

  .footer-logo {
    display: block;
    margin: 0 auto;
  }

  .page-footer__social-block {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .page-footer__academy-block
  {
    .academy-block__link {
      font-family: $ff-arial;
      color: $c-dark-grey;
      line-height: (18 / 16);
    }
  }
}

