$main-font: "Oswald",sans-serif;
$mobile-tablet-header-text-color: black;
$pc-text-color: white;
$mobile-promo-text-color: white;
$button-background-color: #68B738;
$button-text-color: white;
$articles-header-color: black;
$articles-text-font: "Arial",sans-serif;
$articles-text-color:#444444;
$articles-link-color: black;
$how-it-work-header-text-color: black;
$work-item-text-font: "Arial",sans-serif;
$work-item-text-color:#444444;
$example-text-font: "Arial",sans-serif;
$example-header-color: black;
$example-text-color:#444444;
