$main-font: "Oswald", "Arial", sans-serif;
$mobile-tablet-header-text-color: black;
$pc-text-color: white;
$mobile-promo-text-color: white;
$button-background-color: #68b738;
$button-text-color: white;
$articles-header-color: black;
$articles-text-font: "Arial", sans-serif;
$articles-text-color: #444444;
$articles-link-color: black;
$how-it-work-header-text-color: black;
$work-item-text-font: "Arial", sans-serif;
$work-item-text-color: #444444;
$example-text-font: "Arial", sans-serif;
$example-header-color: black;
$example-text-color: #444444;
$example-text-block-promo-text-color: black;
$example-text-block-promo-text-dd-font: "Arial", sans-serif;
$example-text-block-promo-text-dd-color: #444444;
$example-text-block-price-text-color: black;
$slider-control-buton-text-color: black;
$contact--welcome-text-color: #111111;
$contacts-address-font: "Arial", sans-serif;
$contacts-address-color: #444444;
$academy-footer-text-font: "Arial", sans-serif;
$academy-footer-text-color: #444444;
$form-header-text-color: black;
$form-text-color: black;
$about-cat-main-text-color: #444444;
$cat-age-placeholder-text-color: #444444;
$needs-item-text-color: #222222;
$cat-owner-header-text-color: black;
$cat-owner-field-text-color: #444444;
$comment-text-color: black;
$comment-textarea-color: black;
$addition-text-color: black;
$addition-list-text-color: black;
