$main-font: "Arial", sans-serif;
$ff-oswald: "Oswald", sans-serif;
$c-black: black;
$c-white: white;
$special_dark-grey: #444444;
$button-background-color: #68b738;
$contact--welcome-text-color: #111111;
